.impowerBox .qrcode { width: 180px; border: none;}
.impowerBox .title { display: none;}
.impowerBox .info {display: none;}
.status_icon {display: none}
.impowerBox .status {text-align: center;}
html {background-color: transparent;}
body {overflow-x: hidden;overflow-y: hidden;background-color: transparent;}
