.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  .auth-container {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 250px;
    padding: 24px;
    margin-top: 16px;
  }

  .auth-logo {
    transform: scale(1.4);
  }

  .auth-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
  }

  .auth-tips {
    font-size: 14px;
  }

  .auth-input {
    margin: 1vh 0;
    width: 100%;
  }

  .auth-actions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;

    button:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.wechat-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  position: relative;
  .wechat-part-title {
    border: none;
    background-color: transparent;
    font-weight: bold;
  }
  .wechat-login-container {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ededed;
    margin-top: 12px;
  }
  .wechat-part-go-back {
    position: absolute;
    top: -5px;
    left: -5px;
  }
}

.password-part {
  width: 100%;
  .divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    .divider-line {
      border-radius: 1px;
      width: 35%;
      height: 1px;
      background: #bababa;
    }

    .divider-text {
      color: #bababa;
      padding: 0 6px;
    }
  }
  .third-part-login-options {
    margin-top: 12px;
    display: flex;
    width: 100%;
    justify-content: center;

    .third-part-option {
      width: 30px;
      height: 30px;
      padding: 5px;
      box-sizing: border-box;
      background-color: #ececec;
      border-radius: 100%;
    }
    .third-part-option:active {
      opacity: 0.9;

    }
    .third-part-option:hover {
      background-color: #e7e7e7;
    }
  }
}


.tab-container {
  display: flex;
  justify-content: space-around;
  
  .tab-button {
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
  }

  .tab-button.active {
    font-weight: bold;
  }
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 12px;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: row;
    width: 100%;
  }

  .qrcode {
    width: 200px;
    height: 200px;
  }

  .send-button {
    width: 40%;
    flex-grow: 0;
  }

  .auth-input {
    flex-grow: 1;
    max-height: 20px;
    max-width: none;
    width: 100%;
  }

  .auth-get-code-btn {
    margin-left: 12px;
    width: 150px;
  }

  .auth-submit-btn {
    display: block;
    width: 100%;
    max-width: none;
  }
}
