@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

section {
    display: grid;
    grid-template-areas:
          "header header"
          "content content"
          "content content";
    height: 100%;
    width: 100%;
    grid-template-rows: 48px 1fr;
    grid-template-columns: 250px 1fr;
}

header {
    grid-area: header;
    display: flex;

    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: solid;
    border-bottom-color: lightgrey;
    box-shadow: 0 2px 1px -1px lightgrey;
}

main {
    grid-area: content;
    display: block;
    margin: 20px;
    padding: 20px;
    min-height: 100px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
