//@import '@radix-ui/colors/gray.css';
//@import '@radix-ui/colors/teal.css';
//@import '@radix-ui/colors/gray-dark.css';
//@import '@radix-ui/colors/teal-dark.css';



.option-list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;

    .item-main-area {
        height: 70px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid var(--gray-4);
        transition: all 0.3s ease;

        .item-info {
            display: flex;
            flex-direction: column;
            align-items: baseline;

            .label {
                font-size: 1rem;
                font-weight: 600;
            }

            .description {
                font-size: 0.8rem;
                font-weight: 300;
                margin-top: 5px;
            }
        }

        .item-value {
            display: flex;
            align-items: center;
        }
    }

    .item-additional-area {
        padding-left: 50px;
    }
}

.option-list-item-nested {
    .item-main-area {

    }
}
