.return-btn {
    position: absolute;
    margin: 20px;
}

@media only screen and (max-width: 600px) {
    .return-btn {
        margin: 10px;
    }
}

.welcome-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;

    .title {
        font-size: 2.5rem;
        color: var(--inactive);
        justify-content: center;
    }

    @media only screen and (max-width: 800px) {
        .title {
            font-size: 2rem;
        }
    }

    .message {
        font-size: 1rem;
        margin-bottom: 50px;
        color: var(--inactive);
    }

    .logo {
        opacity: 0.5;
        margin-bottom: 20px;
    }
}