.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px; // 圆角
  overflow: hidden;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15); // 阴影
  margin-bottom: 20px;

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    background-color: #4CAF50;
    color: black;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #ddd;
  }
}
