.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  .auth-container {
    box-shadow: var(--card-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 400px;
    padding: 40px;
    margin-top: 16px;
  }

  .auth-logo {
    transform: scale(1.4);
  }

  .auth-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
  }

  .auth-tips {
    font-size: 14px;
  }

  .auth-actions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;

    button:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.wechat-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  position: relative;
  .wechat-part-title {
    border: none;
    background-color: transparent;
    font-weight: bold;
  }
  .wechat-login-container {
    border-radius: 2rem;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin-top: 12px;
  }

  .wechat-part-go-back {
    position: absolute;
    top: -5px;
    left: -5px;
  }
}

.divider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  .divider-line {
    border-radius: 1px;
    width: 100%;
    height: 2px;
    background: #bababa;
  }

  .divider-text {
    display: flex;
    align-items: center;
    color: #bababa;
    padding: 0 6px 0 6px;
  }
}
.third-part-login-options {
  display: flex;
  width: 100%;
  justify-content: center;

  .third-part-option {
    width: 100%;
    height: 54px;
    background-color: var(--secondary);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
    margin-top: 10px;

    svg {
      height: 25px;
      fill: var(--black);
    }

    div {
      font-size: 1rem;
      margin-left: 10px;
    }
  }
  .third-part-option:active {
    opacity: 0.9;
  }
  .third-part-option:hover {
    background-color: var(--secondary-hover-color);
  }
}

.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: row;
    width: 100%;
  }

  .qrcode {
    width: 200px;
    height: 200px;
  }

  .iframe {
    width: 200px;
    height: 200px;
    border: none;
    padding-bottom: 20px;
  }

  .send-button {
    width: 40%;
    flex-grow: 0;
  }

  .auth-input {
    padding: 25px 15px 25px 15px;
    font-size: 1rem;
    text-align: start;
    height: 54px;
    width: 100%;
    flex-grow: 1;
    max-width: none;
    transition: border ease 0.3s;
    border: 2px solid var(--inactive);
  }

  .auth-input:focus {
    border-color: var(--primary);
    outline: 0px;
  }

  .auth-input:hover {
    border-color: var(--primary-hover-color);
  }

  .auth-get-code-btn {
    margin-left: 12px;
    width: 150px;
    height: 54px;
    background-color: var(--primary);

    div {
      font-size: 0.9rem;
      margin-left: 0px;
    }
  }

  .auth-get-code-btn:hover {
    background-color: var(--primary-hover-color);
  }

  .auth-submit-btn {
    display: block;
    width: 100%;
    max-width: none;
    height: 54px;

    div {
      font-size: 1rem;
    }
  }

  .auth-submit-btn:hover {
    background-color: var(--primary-hover-color);
  }
}
