.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  background-color: var(--gray);
}

.login-form {
  width: 100%;
  max-width: 400px;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.login-form-visible {
  display: none;
}

.login-form-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.login-form-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    font-size: 14px;
    margin-bottom: 5px;
  }

  input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    padding: 8px 12px;
    text-align: left;
  }

  input:focus {
    border: 1px solid #eefcfd;
  }

  .verification-code-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      flex: 1; // 使输入框尽可能占用可用空间
      margin-right: 10px; // 添加输入框右侧的间距
    }

    .send-verification-button {
      background-color: var(--second);

      color: black; // 按钮文字颜色
      padding: 8px 16px; // 内边距，使按钮看起来更大
      border: none; // 移除边框
      cursor: pointer; // 将鼠标指针设置为手形
      font-size: 14px; // 设置字体大小
      transition: background-color 0.3s ease; // 添加过渡效果
      border-radius: 10px;
      box-shadow: var(--shadow);

      &:hover {
        background-color: var(--second); // 鼠标悬停时的背景颜色
      }

      &:disabled {
        background-color: #ccc; // 按钮禁用时的背景颜色
        cursor: not-allowed; // 按钮禁用时的鼠标指针
      }
    }
  }
}

.login-form-submit {
  background-color: #1daabd;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  width: 100%;

  margin-right: 10px;

  &:hover {
    background-color: #1d93ab;
  }
}

.button-container {
  display: flex; // 将容器设置为 flex 容器
  justify-content: space-between; // 使按钮在水平方向上均匀分布
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.sidebar-sub-title {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.sidebar-logo {
  position: absolute;
  right: 0;
  bottom: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  background-color: var(--second);
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  margin: 0 0.5rem;

  &:hover {
    background-color: var(--second);
  }
}
